/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

table td.commands {
  width: 160px;
  text-align: center;
}

.header {
  padding: 15px;
}
