<div class="header">
  <div class="row">
    <div class="col-md-6">
      <h3>Users</h3>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" (click)="new(manageModal)">New User</button>
    </div>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>
      {{user.firstName}} {{user.lastName}}
    </td>
    <td>
      {{user.email}}
    </td>
    <td class="commands">
      <div class="btn-group">
        <button class="btn btn-default" (click)="edit(user, manageModal)">Edit</button>
        <button class="btn btn-default" (click)="delete(user, deleteModal)">
          Delete
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" bsModal #manageModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalUI?.title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="manageModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm"  name="UserForm">
          <div class="form-group">
            <label>First Name <span class="required">*</span></label>
            <input required type="text" name="firstName" [(ngModel)]="selection.firstName" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Last Name <span class="required">*</span></label>
            <input required type="text" name="lastName" [(ngModel)]="selection.lastName" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Username <span class="required">*</span></label>
            <input required type="text" name="username" [(ngModel)]="selection.name" class="form-control" placeholder="">
          </div>
          <div class="form-group" *ngIf="!selection._id">
            <label>Password <span class="required">*</span></label>
            <input required type="password" name="password" [(ngModel)]="selection.password" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label>Email <span class="required">*</span></label>
            <input required type="email" name="email" [(ngModel)]="selection.email" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <button [disabled]="!form.valid" type="button" (click)="save(manageModal)" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #deleteForm="ngForm"  name="DeleteForm">

          <div class="form-group">
            <p>Delete selected user?</p>
          </div>
          <div class="form-group">
            <button type="button" (click)="confirmDelete(deleteModal)" class="btn btn-default btn-danger">Delete</button>
            <button type="button" (click)="cancelDelete(deleteModal)" class="btn btn-default btn-default">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
